.form {
  background-image: linear-gradient(blue, yellow);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 15rem;
  padding: 5rem;
}

.inp {
  font-size: 16px;
  margin: 0.3rem;
  padding: 0.5rem;
}

.btn {
  padding: 5px;
  max-width: 100px;
  background-image: linear-gradient(rgb(8, 78, 8), rgb(107, 107, 12));
}
.container {
  background-color: #ccc;
}
