.form {
  background-image: linear-gradient(#ccc, rgb(247, 247, 130));
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 15rem;
  padding: 5rem;
}

.inp {
  font-size: 16px;
  margin: 0.3rem;
  padding: 0.5rem;
}
