* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  padding: 5px;
  max-width: 100px;
  color: #ccc;
  background-image: linear-gradient(rgb(8, 78, 8), rgb(107, 107, 12));
}

span {
  color: rgb(129, 21, 2);
  font-size: 20px;
}
.container {
  margin: 1rem;
  border: 1px solid black;
  box-shadow: 3px 3px 5px;
  max-width: 200px;
}
